<%- include('includes/head.ejs') %>
	<ul id="dropdown5" class="dropdown-content">
		<li><a href="#!">Op1</a></li>
		<li><a href="#!">Op2</a></li>
		<li><a href="#!">0p3</a></li>
	</ul>
	<nav class="grey darken-3">
		<div class="nav-wrapper">
			<ul class="right hide-on-med-and-down">
				
				<li><a class="dropdown-trigger grey darken-3" href="#!" data-target="dropdown5">Rol<i class="material-icons right">arrow_drop_down</i></a></li>
				<div class=" right input-field col s6">
					<input id="ID" type="text" class="validate">
					<label for="ID">ID</label>
				</div>
				<div class="right input-field col s6">
					<input id="first_name" type="text" class="validate">
					<label for="first_name">Nombre</label>
				</div>
				<div class="right input-field col s6">
					<input id="second_name" type="text" class="validate">
					<label for="second_name">Apellido Paterno</label>
				</div>
				<div class="right input-field col s6">
					<input  id="third_name" type="text" class="validate">
					<label for="third_name">Apellido Materno</label>
				</div>
			</ul>
		</div>
	</nav>




	<div>

	<table class="striped responsive-table centered" >
		<thead>
			<tr>
				<th>ID</th><th>Nombre</th><th>Apellido paterno</th><th>Apellido materno</th><th>Rol</th>
			</tr>
		</thead>

		<tr>
			<td>6251463</td><td>Aldo</td><td>Tena</td><td>García</td><td>Empleado de soporte</td>
		</tr>
		<tr>
			<td>8437456</td><td>José</td><td>Antonio</td><td>Lopez</td><td>Administrador</td>
		</tr>
		<tr>
			<td>2735763</td><td>Marco Antonio</td><td>Camalich</td><td>Pérez</td><td>Empleado de soporte</td>
		</tr>
		<tr>
			<td>6835464</td><td>Renato Sebastián</td><td>Ramirez</td><td>Calva</td><td>Empleado general</td>
		</tr>
		<tr>
			<td>6835464</td><td>Flavio</td><td>Ruvacalba</td><td>Lejia</td><td>Empleado de soporte</td>
		</tr>
	</table>
<%- include('includes/foot.ejs') %>
