<%- include('includes/head.ejs') %>
<% var i=1; %>
<% for (let ticket of tickets) { 
  function returncolor(prioridad){
    let respuesta=''; 
    switch(prioridad){
      case 1:
      respuesta = 'grey lighten-5';
      return respuesta;

      case 2:
      respuesta = 'light-blue lighten-5';
      return respuesta;

      case 3:
      respuesta = 'orange lighten-5';
      return respuesta;

      case 4:
      respuesta = 'yellow lighten-5';
      return respuesta;

      case 5:
      respuesta = 'red lighten-1';
      return respuesta;

      case 6:
      respuesta = 'light-green accent-1';
      return respuesta;
  }
}

var color = returncolor(tickets.ID_prioridad);

%>

<div class="row">
	<div class="col s12 m12 l6">
        <div class="card">
            <div class="card-content">
              <h1><%tickets.titulo %></h1>
            </div>
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#descripcion<%= ticket.ID_ticket%>">Descripción</a></li>
                <li class="tab"><a href="#p&r">Preguntas y Respuestas</a></li>
                <li class="tab"><a href="#datosgenerales">Datos Generales</a></li>
                <li class="tab"><a href="#comentarios">Comentarios</a></li>
              </ul>
            </div>
            <%let content='card-content '+color%>
            <div class=<% content %> >
              <div id="#descripcion<%= ticket.ID_ticket%>">
                <h5><%ticket.descripcion%></h5>
              </div>
              <div id="p&r">
              	<h5>Preguntas y Respuestas</h5>
               </div>
              <div id="datosgenerales">
              	<h5>Datos Generales</h5>
              </div>
              <div id="comentarios">
              	<h5>Comentarios</h5>
              </div>
            </div>
        </div>
    </div>
    <% i=i+1; %>
<% } %> 

<%- include('includes/footer.ejs') %>