<%- include('includes/head.ejs') %>

    <div class="container">

        <h3 class="white-text">Escoge una Categoría</h3>
        <ul class="collection">
            <% for (let categoria of categorias) { %>
                <li class="">
                    <a href="/generar_ticket/categoria/<%= categoria.ID_categoria %>" class="collection-item">
                        <%= categoria.nombre_categoria %>
                    </a>
                </li>
                <% } %>
        </ul>
    </div>
    <div class="center">
        <a class="waves-effect waves-light btn modal-trigger grey lighten-2 black-text" href="#modal1">Cancelar</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Volver al menu</h4>
                <p>Seguro volver a la pagina principal?</p>
            </div>
            <div class="modal-footer">
                <a href="/home" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
            </div>
        </div>
    </div>

    <%- include('includes/footer.ejs') %>