<%- include('includes/head.ejs') %>
    
	
        <div class="form">
        <form action="" method="GET" id="form">
            <div class="grupo">
                <ul class="list">
                    <li class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <a href="#" class="nav__link">Categoría</a>
                        </div>
        
                        <ul class="list__show">
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Template1</a>
                            </li>
        
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Template2</a>
                            </li>
                        </ul>
        
                    </li>
                </ul>
                
            </div>
            <div class="grupo">
                <input required><span class="barra"></span>
                <label for="">Descripcion</label>
            </div>
            <div class="grupo">
                <input required><span class="barra"></span>
                <label for="">Pregunta 1</label>
            </div>
            <div class="grupo">
                <input required><span class="barra"></span>
                <label for="">Pregunta 2</label>
            </div>
            </form>
            <form action="" method="POST" id="form">
            <button type="submit">Generar</button>
            <button type="submit">Cancelar</button>
            </form>
        </div>
    
  
<%- include('includes/foot.ejs') %>