<%- include('includes/head.ejs') %>
    <div class="container">
                        
        <h3>Categorías</h3>
        <ul class="collection">
            <% for (let categoria of categorias) { %>
                <li class="">
                    <a href="/generar_ticket/categoria/<%= categoria.ID_categoria %>" class="collection-item"><%= categoria.nombre_categoria %></a>
                </li>
            <% } %>    
        </ul>

              
        <div class="form">
            <form action="" method="GET" id="form">

            <div class="grupo">
                <input required><span class="barra"></span>
                <label for="">Descripcion</label>
            </div>
            <div class="grupo">
                <input required><span class="barra"></span>
                <label for="">Pregunta 1</label>
            </div>
            <div class="grupo">
                <input required><span class="barra"></span>
                <label for="">Pregunta 2</label>
            </div>
            </form>
            <form action="" method="POST" id="form">
            <button type="submit">Generar</button>
            <button type="submit">Cancelar</button>
            </form>
        </div>
    
    </div>
    
<%- include('includes/footer.ejs') %>