<%- include('includes/head.ejs') %>

    <div class="container">

        <h3>Escoge una Categoría</h3>
        <ul class="collection">
            <% for (let categoria of categorias) { %>
                <li class="">
                    <a href="/generar_ticket/categoria/<%= categoria.ID_categoria %>" class="collection-item">
                        <%= categoria.nombre_categoria %>
                    </a>
                </li>
                <% } %>
        </ul>
        <button href="/home/" class="btn waves-effect waves-light grey dark-4" type="submit" name="action">Cancelar
        </button>
    </div>

    <%- include('includes/footer.ejs') %>