<%- include('includes/head.ejs') %>
    
	<form action="" method="POST" id="form">
        <div class="form">

            <div class="grupo">
                <input><span class="barra"></span>
                <label for="">Titulo</label>
            </div>
            <div class="grupo">
                <input><span class="barra"></span>
                <label for="">Descripcion</label>
            </div>
            <div class="grupo">
                <input><span class="barra"></span>
                <label for="">Pregunta </label>
            </div>
            <div class="grupo">
                <input><span class="barra"></span>
                <label for="">Pregunta</label>
            </div>

        </div>

    </form>    
    <div>
        <button id="btnAdd" type="submit">Agregar pregunta</button>
        <button id="btnAdd" type="submit">Eliminar pregunta</button>
        <button type="submit">Generar Template</button>
        <button type="submit">Cancelar</button>
    </div>
<%- include('includes/foot.ejs') %>