<%- include('includes/head.ejs') %>
    
    <form action="" method="POST" id="form">
        <div class="form">

            <div class="grupo">
                <input><span class="barra"></span>
                <label for="">Titulo</label>
            </div>
            <div class="grupo">
                <input><span class="barra"></span>
                <label for="">Descripcion</label>
            </div>
            <div class="grupo">
                <input><span class="barra"></span>
                <label for="">Pregunta </label>
            </div>
            <div class="grupo">
                <input><span class="barra"></span>
                <label for="">Pregunta</label>
            </div>

        </div>

    </form>    
    <div>
        <a id="btnAdd" class="waves-effect waves-light btn grey darken-3">Agregar pregunta</a>
        <a id="btnAdd" class="waves-effect waves-light btn grey darken-3">Eliminar pregunta</a>
        <a class="waves-effect waves-light btn grey darken-3">Generar Template</a>
        <a class="waves-effect waves-light btn grey darken-3">Cancelar</a>

    </div>
    <script type ="text/javascript" src="agregar.js"></script>
<%- include('includes/foot.ejs') %>