<%- include('includes/head.ejs') %>
   
    <div class="container">
        <h1 class="center">Crear Nuevo Template</h1>

        <div class="">
            <form action="/generar_template/enviar_template" method="post" id="form" class="respuesta_ajax" style="background-color: azure; border-radius: 1%; padding: 20px;">
                <div>
                    <div >
                        <label for="">Nombre Categoria</label>
                        <input required id="titulo" name="titulo"><span class=""></span>
                        
                    </div>
                    <div >
                        <label for="">Tiempo estimado</label>
                        <input required id="tiempo" name="tiempo"><span class=""></span>
                    </div>
                </div>
                <div id="divpreg">

                </div>
                <br></br>
                <div class="center ">
                    <button type="submit" class="waves-effect waves-light btn">Guardar</button>
                    <a href = "/home" class="waves-effect waves-light btn">Cancelar</a> 
                    <button type="button" id="agregar" class="waves-effect waves-light btn">Agregar pregunta</button> 
                     <button type="button" id="eliminar" class="waves-effect waves-light btn">Eliminar pregunta</button> 
                </div>
                
            </form>

               
        </div>
    </div>
    <br></br>

    <script>
        
            const $btnAdd = document.getElementById("agregar")
            const $form = document.getElementById("divpreg")
            const templateElement = () => {
                return (`
                
                        <div class="row col s6" id="preg">
                            <label for="ID_pregunta">Pregunta nueva</label>
                            <input required id="texto_pregunta" name="texto_pregunta"><span ></span>
                        </div>
                    
                `)
            }
            $btnAdd.addEventListener("click", (event) => {
                const $div = document.createElement("div")
                $div.innerHTML = templateElement()
                $form.insertBefore($div, $form.lastChild)
               
            })
            const $btnEli = document.getElementById("eliminar")
            $btnEli.addEventListener("click", (event) => {
                const $form1 = document.getElementById("divpreg")
                const $div1 = $form1.lastElementChild;
                $div1.remove()
            })
        
    </script> 

    <!-- <script>
        (function load(){
            

        })()
    </script> -->

        
    
<%- include('includes/footer.ejs') %>