<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="container">
        <form id="form-login" action="" method="post" autocomplete="off">
            <p><label>Usuario:</label></p>
            <input name="nombre" type="text" id="nombre" placeholder="Ingresa Usuario" autofocus="" required=""></p>
            <p><label>Contraseña:</label></p>
            <input name="password" type="password" id="password" placeholder="Ingresa Password" required=""></p>

            <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"></p>

        </form>
    </div>
    <button href="/users/signup" type="submit" name="action">Crear Usuario
              </button>
    </div>
</body>


</html>