<%- include('includes/head.ejs') %>
    <div class="card">
        <img src="https://tudashboard.com/wp-content/uploads/2021/03/grafica-de-barras.png" alt="Avatar" >
        <div class="card-content">
          <h4>Grafica 1</h4>
          <p>Propuesta de la grafica 1</p>
        </div>
    </div>

    <div class="card">
        <img src="https://tudashboard.com/wp-content/uploads/2021/03/grafica-de-barras.png" alt="Avatar" >
        <div class="card-content">
          <h4>Grafica 1</h4>
          <p>Propuesta de la grafica 1</p>
        </div>
    </div>

<%- include('includes/foot.ejs') %>
</html>