<%- include('includes/head.ejs') %>

    <form action="/users/signup" method="POST" style="border:1px solid #ccc">
        <div class="container">
            <h1 id="principal">Registrar usuario en Zebrands</h1>
            <h5>Registre la información correspondiente dentro de los siguientes campos:</h5>
            <h8>Recuerde que el correo debe tener un formato alguien@zeb.mx</h8>
            <br><br>
            <label for="rol">Rol: </label>
            <input type="text" id="rol" name="rol" >
            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" name="nombre" >
            <label for="ApellidoP">Apellido paterno: </label>
            <input type="text" id="ApellidoP" name="ApellidoP" >
            <label for="ApellidoM">  Apellido Materno: </label>
            <input type="text" id="ApellidoM" name="ApellidoM" >
            <label for="Email">Correo: </label>
            <input type="text" id="Email" name="Email" >
            <label for="password">Password: </label>
            <input type="password" id="password" name="password">
            <br><br>
        
            <div class="clearfix">
                <br><br>  
                <input type="submit" value="Enviar">
                <br><br>        
            </div>

            <p><a href="/users/login">Regresar a menú de login</a></p>

        </div>
      </form>

<%- include('includes/footer.ejs') %>
