<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<meta name ="author" content="FrameJTech"/> 
    	<meta name = "Keywords" content=" Prototipo, Tickets"/>
    	<title>Prototipo Tickets</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
	</head>

	<body class="grey lighten-4">
			
		<header >
			<div >

				<nav class="grey darken-3">
					<a href="Primer pantalla" class="brand-logo right ">( Zëbrands )</a>
					<div class="fixed-action-btn toolbar">
						<a class="btn-floating btn-large grey darken-3">
							<i class="large material-icons">menu</i>
						</a>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li>
								<a href="GenerarT" class="btn-floating">
									Generar Ticket<i class="material-icons">assignment</i>
								</a>
							</li>
							<li>
								<a href="Historial" class="btn-floating"> 
									Historial<i class="material-icons"> library_books</i>
								</a>
							</li>
							<li>
								<a href="BuscarTAct" class="btn-floating">
									Buscar Tickets Activos<i class="material-icons">folder_open</i> 
								</a>
							</li>
							<li>
								<a href="BuscarUsuarios" class="btn-floating">
									Buscar Usuarios<i class="material-icons"> folder_shared</i>
								</a>
							</li>
							<li>
								<a href="Metricas" class="btn-floating">
									Metricas<i class="material-icons"> assessment</i>
								</a>
							</li>
							
						</ul>
					</div>
					
				</nav>
			</div>

		</header>
		<div class="container">