<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<meta name ="author" content="FrameJTech"/> 
    	<meta name = "Keywords" content=" Prototipo, Tickets"/>
    	<title>Prototipo Tickets</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
	</head>

	<body class="grey lighten-4">
			
		<header >
			<div >

				<nav class="grey darken-3">
					<a href="Primer pantalla" class="brand-logo right ">( Zëbrands )</a>
					
				</nav>
			</div>

		</header>	 